<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <identity impersonate="false" />
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" cookieless="true" timeout="1"></sessionState>
  </system.web>

  <connectionStrings>
    <!--<add name="MyDBConnection" connectionString="Data Source=LAPTOP-KE1J50EN;Initial Catalog=MyDB;User ID=sa;Password=Bisu1721@" providerName="System.Data.SqlClient" />-->
    <!--<add name="MyDBConnection" connectionString="Data Source=LAPTOP-LQ4PVCRT;Initial Catalog=MyDatabase;Persist Security Info=True;User ID=sa;Password=Putkidey@8535" providerName="System.Data.SqlClient" />-->
    <add name="MyDBConnection" connectionString="Data Source=DESKTOP-LQ9NSIC;Initial Catalog=AnirbanDB;Persist Security Info=True;User ID=sa;Password=Kolkata1" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="BONUS_XML" value="BonusCalculation.xml" />
  </appSettings>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>

</configuration>
